<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Detail Warga</title>
</head>
<body>
    <h1>Detail Warga</h1>
    <p><strong>Nama Lengkap:</strong> {{ object.nama_lengkap }}</p>
    <p><strong>NIK:</strong> {{ object.nik }}</p>
    <p><strong>Alamat:</strong> {{ object.alamat }}</p>
    <p><strong>No Telepon:</strong> {{ object.no_telepon }}</p>
    <p><strong>Tanggal Registrasi:</strong> {{ object.tanggal_registrasi }}</p>
</body>
</html>
